html{
    scroll-behavior: smooth;
}

#its_MEEE{
    background-color: bisque;
}

#z-img{
    width: 600px;
}

.navbar{
    background-color: cadetblue;
}

.nav-item{
    color : white;
    margin : 10px;
}

.num1{
    color:black;
}

#carousel{
    background-color: rgb(170, 211, 238);
}
