*{
    margin: 0 auto;
}

body{
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

#its_MEEE{
    background-color: rgb(211, 230, 253);
}

#z-img{
    width: 600px;
}

.navbar{
    background-color: cadetblue;
}

.menu{
    margin-right: 0;
}

.nav-item{
    color : white;
    margin : 10px;
}

.num1{
    color:black;
}

#carousel{
    background-color: rgb(170, 211, 238);
}

#swim{
    background-color:rgb(173, 237, 237);
}

#challengers{
    background-color: rgb(237, 183, 183);
}

.activ_img{
    height:500px;
    text-align: left;
}

.paragraph{
    text-align: center;
    width: 600px;
}
